.carousel-caption h3 {
    font-family:    Garamond;
    font-size:      3em;
    color:          black !important;
}

/* Description text */
.carousel-caption p {
    font-family:    Garamond;
    font-size:      2em;
    color:          black !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-item {
    align-items: center;
}


.slide img {
    
    width: 1000px; 
    
    padding-left: 200px;
    padding-right:100px;
}

